					<div class="col-md-48 col-sm-24 sidebar-single">
						<div class="full left single-headline">
							<h4>{{ settings.gallery_header }}</h4>
						</div>
						<div class="full left rel gallery-box">
							<img class="full left" src="{{ 'bg-sidebar-gallery.jpg' | asset_url }}" alt="Gallery Image" />
							<a class="button view-btn" href="/blogs/multimedia">View Gallery</a>
						</div>
					</div><!-- END SINGLE SIDEBAR ELEMENT -->