<div class="full left sidebar-single sidebar-assistance">
  <div class="full left single-headline">
    <h4>{{ settings.supplier_assistance_header }}</h4>
  </div>
  <div class="full left white-bg">
    <p>{{ settings.supplier_assistance_text }}</p>
    <a class='button sidebarbtn' href='http://ellismanufacturing.com/pages/supplier-signup'>Apply Here</a>
  </div>
</div><!-- END SINGLE SIDEBAR ELEMENT -->