	<section id="validators" class="full left">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-24 single-validator">
					<img src="{{ 'sample-validator-1.jpg' | asset_url }}" alt="Based in the USA" />
					<span class="full abs">Based in the USA</span>
				</div>
				<div class="col-md-12 col-sm-24 single-validator">
					<img src="{{ 'sample-validator-2.jpg' | asset_url }}" alt="Founded in 1951" />
					<span class="full abs">Founded in 1951</span>
				</div>
				<div class="col-md-12 col-sm-24 single-validator">
					<img src="{{ 'sample-validator-3.jpg' | asset_url }}" alt="Patented Products" />
					<span class="full abs">Patented Products</span>
				</div>
				<div class="col-md-12 col-sm-24 single-validator">
					<img src="{{ 'sample-validator-4.jpg' | asset_url }}" alt="Knowledgable Customer Support" />
					<span class="full abs">Knowledgable Customer Support</span>
				</div>
			</div>
		</div>
	</section>